node_modules
*/node_modules
packages/*/node_modules
dist
*/dist
packages/*/dist
build
.pnpm-store
.mnemon
.DS_Store
*.log
.vite

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
